.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
.deploy_git/*
learnjs/*
scaffolds/*
script/*
_config.yml
source/code/*
interview/*
source/_posts/interview/*
source/_posts/page.md
source/demo/*